body {
    font-family: "Times New Roman", "Times" , "serif";
    margin: 20px;
    padding: 0;
    background-color:#140009 ; 
}

h1 {
    text-align: center;
    color: #f9f500;
}

form {
    max-width: 600px;
    margin: auto;
    background-color: #1ff0ed6b; /* Light pink form background */
    border-radius: 8px;
    box-shadow: 0 4px 8px rgb(0, 0, 0);
    padding: 5px;
}

fieldset {
    border: 2px solid #fff30a; /* Light pink border */
    border-radius: 8px;
    padding: 50px;
    margin-bottom: 20px;
    background-color: #13f26523; /* Light pink background */
    color: #36a358a0;
    font-size: 16px;
    padding: 40px;
}

legend {
    font-weight: bold;
    text-align: center;
    color: #000000;
    font-size: 20px;
}

label {
    display: block;
    margin-top: 10px;
    color: #000000;
}

input, textarea {
    width: calc(100% - 1px);
    padding: 8px;
    margin-top: 4px;
    border: 1px solid #070102; /* Light pink border */
    border-radius: 8px;
    box-sizing: border-box;
}

button {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #076f5ee8; /* Light pink button background */
    color: black;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 10px;
    font-size: 18px;
    font-family: 'Times New Roman', Times, serif;
}

button:hover {
    background-color: #fffb04; /* Slightly darker pink on hover */
}

#resumeOutput {
    max-width: 600px;
    margin: auto;
    padding: 20px;
    border: 2px solid  #0acdcd;
    border-radius: 8px;
    background-color: #11bcb4c9;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
}

#resumeOutput h2 {
    color: #050000;
} 

